@using Edziennik.Data.Models
@using Edziennik.Utility
@model Student
@{
    List<Subject> subjects = ViewBag.Subjects;
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Behaviour grades</h2>
        </div>
    </div>
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Points
                </th>
                <th>
                    Comment
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var behavoiur in Model.BehaviourPoints)
            {
                <tr>
                    <td width=20%>
                        @behavoiur.Value
                    </td>
                    <td>
                        @behavoiur.Comment
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @foreach(var subject in subjects)
    {
        var marks = Model.Marks.Where(x => x.SubjectId == subject.Id).ToList();
        double avg;
        if(marks.Count!=0)
        {
            avg = marks.Average(x=>x.Value);
        }
        else
        {
            avg = 0.0;
        }
        <br />
        <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">@subject.Name grades</h2>
        </div>
    </div>
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    <div class="row">
                        <div class="col-6">Mark</div>
                        <div class = "text-end col-6">Avg: @avg.ToString()</div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mark in marks)
            {
                <tr>
                    <td>
                        @mark.Value
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
</div>